@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Docker</h1>
    <p class="lead"> ASP.NET Deplyed via Docker (Windows Server 2019)  </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-10">
        <h2> Docker 部署指南 </h2>
        <p>
            ASP.NET Deplyed via Docker (Windows Server 2019)
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    
</div>